@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

/* ------------ */
/* Custom properties  */
/* ------------ */

:root {
	--primary-color: 220, 98%, 61%;
	--bg-color: 236, 33%, 92%;
	--todo-color: 0, 0%, 98%;
	--line-through-color: 233, 11%, 84%;
	--text-color: 235, 19%, 35%;
	--feature-color: 236, 9%, 61%;
	--box-shadow: 100, 100, 101;

	--feature-hover-color: 236, 33%, 92%;
	--bottom-color: 234, 11%, 52%;
	--border-color: 233, 14%, 35%;
}


/* ------------ */
/* Reset  */
/* ------------ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* make images easier to work with */
img,
picture {
    max-width: 100%;
    /* display: block; */
}

/* make forms element easier to work with */
input,
button,
textarea,
select {
    font: inherit
}


/* remove animation if we turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ----------- */
/* Utility classes */
/* ----------- */

/* general */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.d-block {
    display: block;
}


/* Set up the body */ 
body {
	justify-content: center;
    background-color: hsl(var(--bg-color));
	color: hsl(var(--text-color));
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	position: relative;
    width: 100%;
    max-width: 700px;
   	margin: 100px;
   	padding: 0 30px;
}

/* Background */
.background-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-height: 350px;
	z-index: -1;
}

.background-img img {
	width: 100%;
	min-height: 350px;
	object-fit: cover;
	object-position: left;
}

/* Header */

#header > div {
	justify-content: space-between;
	align-items: center;
}

.header__title {
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 10px;
}


#theme-button {
	position: absolute;
    right: 26%;
    bottom: 78%;
	background-image: url('../assets/icon-moon.svg');
	width: 50px;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 100;
}

.over {
	transform: scale(1.1, 1.1);
  }

.new-todo
{
	width: 100%;
	height: 70px;
	margin-top: 50px;
	padding: 16px 16px 16px 60px;
	border-radius: 6px;
	border: none;
	background-color: hsl(var(--todo-color));
	color: hsl(var(--text-color));
	font-size: 18px;
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	caret-color: hsl(var(--primary-color));
}

.new-todo::placeholder {
	color: hsl(var(--line-through-color));
}

.new-todo:focus {
	outline: 0;
}

/* todo-list */
.main {
	position: relative;
	z-index: 2;
}

.toggle-all {
	position: absolute;
	right: 100%;
	bottom: 100%;
	width: 1px;
	height: 1px;
	border: none; /* Mobile Safari */
	opacity: 0;
}

.toggle-all + label {
	position: absolute;
	top: -84px;
	left: 3px;
	width: 60px;
	height: 34px;
	font-size: 0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	cursor: pointer;
}

.toggle-all + label:before {
	content: '❯';
	padding: 10px 27px 10px 27px;
	color: hsl(var(--line-through-color));
	font-size: 22px;
}

.toggle-all:checked + label:before {
	color: hsl(var(--feature-color));
}

.todo-list {
	margin: 30px 0px 0px;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	display: flex;
	align-items: center;
	height: 70px;
	width: 100%;
	padding: 16px 16px 16px 20px;
	border: none;
	border-bottom: 1px solid hsl(var(--line-through-color));
	background-color: hsl(var(--todo-color));
	font-size: 18px;
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	cursor: pointer;
}

.todo-list li:first-child {
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.edit {
	position: relative;
	display: none;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	border: 0;
	color: inherit;
	font-size: 18px;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-list li.editing {
	padding: 0;
}

.todo-list li.editing .edit {
	display: block;
	max-width: 560px;
	padding: 12px 16px;
	margin: 0 16px 0 60px;
}

.todo-list li.editing .view {
	display: none;
}


.check{
    flex-basis: 90px;
    display: flex;
    align-items: center;
}

.check-mark {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
	margin-right: 10px;
    border-radius: 50%;
	border-color: hsl(var(--line-through-color));
	border: 2px solid;
    transition: all 0.25s;
	cursor: pointer;
}

.check-mark::after {
	position: absolute;
	display: none;
	content: "";
	right: -12px;
	width: 30px;
    height: 30px;
	margin-right: 10px;
	/* gradient border */
    border-radius: 50%; /*1*/
	border: 2px solid transparent; /*2*/
	background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box; /*3*/
	-webkit-mask: /*4*/
	linear-gradient(#fff 0 0) padding-box, 
	linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor; /*5'*/
	mask-composite: exclude; /*5*/
    transition: all 0.25s;
}

.check-mark img {
	width: 12px;
}

.check-mark:hover.check-mark::after{
	display: block;
 }

.check-mark img {
    visibility: hidden;
}

.todo-list li.completed .check-mark:hover.check-mark::after {
	display: none;
}

.todo-list li.completed .check-mark img, .todo-list li.completed .check-mark:hover img {
    visibility: visible;
}


.todo-list li.completed .check-mark {
	border: none;
    background-color: pink;
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.todo-list li.completed .todo-text {
	color: hsl(var(--line-through-color));
	text-decoration: line-through;
}

.todo-list li .destroy{
	position: absolute;
	top: 0;
	right: 16px;
	bottom: 0;
	display: none;
	width: 40px;
	height: 40px;
	margin: auto 0;
	margin-bottom: 11px;
	border: none;
	color: hsl(var(--line-through-color));
	font-size: 36px;
	transition: color .2s ease-out;
	background: transparent;
}

.todo-list li .destroy:hover {
	color: hsl(var(--feature-color));
	cursor: pointer;
}

.todo-list li:hover .destroy {
	display: block;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width: 100%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 10px 15px;
	background-color: hsl(var(--todo-color));
	color: hsl(var(--feature-color));
	text-align: center;
	box-shadow: 2px 4px 5px rgba( var(--box-shadow),.2);
}

.todo-count {
	float: left;
	text-align: left;
}

.todo-count strong {
	font-weight: 300;
}

.filters {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.filters li {
	display: inline;
}

.filters li a {
	margin: 3px;
	padding: 3px 7px;
	border: 1px solid transparent;
	border-radius: 3px;
	color: hsl(var(--feature-color));
	font-weight: 700;
	text-decoration: none;
}

.filters li a:hover {
	color: hsl(var(--text-color));
}

.filters li a.selected {
	color: hsl(var(--primary-color));
}

.clear-completed,
html .clear-completed:active {
	position: relative;
	border: none;
	background: transparent;
	color: hsl(var(--feature-color));
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
}

.clear-completed:hover {
	color: hsl(var(--text-color));
}


/* Variable change in dark theme */
body.dark-theme {
	--bg-color: 235, 21%, 11%;
	--todo-color: 235, 24%, 19%;
	--line-through-color: 233, 14%, 35%;
	--text-color: 234, 39%, 85%;
	--feature-color: 237, 14%, 26%;
}


.dark-theme .new-todo{
	background-color: hsl(var(--todo-color));
    color: hsl(var(--text-color));
}

.dark-theme .toggle-all:checked + label:before {
	color: hsl(var(--feature-hover-color));
}

.dark-theme .todo-list li.completed .todo-text {
	color: hsl(var(--line-through-color));
}

.dark-theme .check-mark {
	border-color: hsl(var(--border-color));
}

.dark-theme .todo-list li .destroy {
	color: hsl(var(--bottom-color));
}

.dark-theme .todo-list li .destroy:hover {
	color: hsl(var(--feature-hover-color));
}

.dark-theme .footer {
	box-shadow: none;
	color: hsl(var(--line-through-color));
}

.dark-theme .filters li a {
	color: hsl(var(--line-through-color));
}

.dark-theme .filters li a:hover {
	color: hsl(var(--feature-hover-color));
}

.dark-theme .filters li a.selected {
	color: hsl(var(--primary-color));
}

.dark-theme .clear-completed {
	color: hsl(var(--line-through-color));
}

.dark-theme .clear-completed:hover  {
	color: hsl(var(--feature-hover-color));
}

































