@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*====== Global ======*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green-color: hsl(152, 24%, 32%);
    --green-color-alt: hsl(152, 24%, 28%);
    --green-color-light: hsl(152, 24%, 66%);
    --green-color-lighten: hsl(152, 24%, 92%);
    --title-color: hsl(152, 4%, 15%);
    --text-color: hsl(152, 4%, 35%);
    --text-color-light: hsl(152, 4%, 55%);
    --body-color: hsl(152, 0%, 100%);
    --white-color: #fff;
    --smooth: all 0.3s ease;
    --shadow: 0 7px 29px rgba(100,100,111,0.2)
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: var(--smooth);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 968px;
    margin: 0 1.5rem;

}

img {
    max-width: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 1rem 1.75rem;
    background-color: var(--green-color);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    transition: var(--smooth);
}

.button:hover {
    background-color: var(--green-color-alt);
}

.button:hover .button__icon {
    transform: translateX(.25rem);
    transition: var(--smooth);
}

.section__title,
.section__title-center {
    font-size: 1.25rem;
    line-height: 140%;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--title-color);
}

.section {
    padding: 5.5rem 0 1rem;
}

.section__title-center {
    text-align: center;
}

/*====== Header ======*/
#header {
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: var(--smooth);
}


/* Scroll header to show box-shadow */
.scroll-header {
    box-shadow: var(--shadow);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
}

.nav__logo a {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--title-color);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__logo i {
    color: var(--green-color);
    font-size: 1.15rem;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translateX(100%);
        opacity: 0;
        padding:4rem 0 0 3rem ;
        background-color: var(--white-color);
        border-radius: 1rem 0 0 1rem;
        box-shadow: var(--shadow);
        transition: var(--smooth);
        z-index: 10;
    }
}

.nav__menu.nav-open {
    transform: translateX(0);
    opacity: 1;
    transition: var(--smooth);
}

.nav__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem ;
}

.nav__link a {
    color: var(--title-color);
    text-transform: capitalize;
    font-weight: 500;
    transition: var(--smooth);
}

.active-link {
    position: relative;
    color: var(--green-color);
}

.nav__close {
    position: absolute;
    top: 2%;
    right: 8%;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--title-color);
}

.nav__btns {
    display: inline-flex;
    column-gap: 1rem;
    align-items: center;
}

/*====== Home ======*/
.home {
    padding: 3.5rem 0 2rem;
}

.home__container {
    position: relative;
    display: grid;
    row-gap: 2rem;
}

.home__img {
    height: 200px;
    width: 200px;
    justify-self: center;
}

.home__title {
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 1rem;
}

.home__detail {
    margin-bottom: 2.5rem;
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.home__socials {
    position: absolute;
    display: grid;
    justify-items: center;
    top: 2rem;
    right: -1rem;
    row-gap: 3.5rem;
}

.home__socials-follow {
    position: relative;
    transform: rotate(90deg);
    font-weight: 500;
    font-size: .75rem;
    color: var(--green-color);
}

.home__socials-follow::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--green-color);
    right: -45%;
    top: 50%;
}

.home__socials-link {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home__socials-link  a {
    font-size: 1rem;
    color: var(--green-color);
    transition: var(--smooth)
}

.home__socials-link  a:hover {
    transform: translateX(.25rem); 
}

/*====== About ======*/
.about {
    display: grid;
    row-gap: 2rem;
}

.about__img {
    height: 280px;
    width: 280px;
    justify-self: center;
}

.about__title {
    margin-bottom: 1rem;
    font-size: 1.25rem ;
    font-weight: 600;
    color: var(--title-color);
}

.about__detail {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.about__lists {
    display: grid;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
    font-size: 0.875rem;
}

.about__item {
    display: flex;
    column-gap: .5rem;
    line-height: 1.6;
}

.about__item i {
    color: var(--green-color);
}

.about__link {
    color: var(--green-color);
    font-size: 1rem;
    transition: var(--smooth);
    font-weight: 500;
}

.about__link:hover i {
    transform: translateX(.25rem);
    transition: var(--smooth);

}

/*====== Steps ======*/
.steps__bg {
    background-color: var(--green-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
}

.steps__title {
    color: #fff;
    margin-bottom: 2rem;
}

.steps__container {
    display: grid;
    padding-top: 1rem;
    row-gap: 2rem;
}

.steps__card {
    background-color: var(--white-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
}

.steps__card-number {
    display: inline-block;
    padding: .5rem 0.75rem;
    background-color: var(--green-color);
    color: #fff;
    font-size: 1.25rem;
    border-radius: .25rem;
    transition: var(--smooth);
}

.steps__card-title {
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.steps__card-detail {
    font-size: 0.875rem;
}

.steps__card:hover .steps__card-number {
    transform: translateY(-0.25rem);
    transition: var(--smooth);
}

/*====== Product ======*/
.product__detail {
    font-size: 1rem;
    text-align: center;
}

.product__container {
    display: grid;
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
}

.product__card {
    position: relative;
    /* transition: var(--smooth); */
    justify-self: center;
}

.product__card:hover img {
    transform: translateY(-.5rem);
    transition: var(--smooth);
}

.product__circle {
    position: absolute;
    top: 18%;
    left: 0;
    background-color: var(--green-color-lighten);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.product__card img {
    position: relative;
    width: 120px;
    height: 160px;
    margin-bottom: .75rem;
    justify-self: center;
    transition: var(--smooth);
}



.product__title,
.product__price {
    color: var(--title-color);
    font-weight: 600;
    font-size: .875rem;
    margin-bottom: 0.25rem;
}

.product__button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--green-color);
    color: #fff;
    padding: .25rem;
    font-size: 1.15rem;
    border: none;
    outline: none;
    border-radius: .35rem;
}

/*====== FAQs  ======*/
.questions {
    background-color: var(--green-color-lighten);
}

.questions__container {
    display: grid;
    padding: 1.5rem 0;
    gap: 1.5rem;
}

.questions__group {
    display: grid;
    row-gap: 1.5rem;
}

.questions__item {
    background-color: var(--white-color);
    border-radius: .25rem;
}

.questions__header {
    display: flex;
    align-items: center;
    padding: .75rem 0.5rem;
    cursor: pointer;
    column-gap: .5rem;
    line-height: normal;
}

.questions__title {
    color: var(--title-color);
    font-size: 0.875rem;
    font-weight: 500;
}

.questions__icon {
    color: var(--title-color);
    font-size: 1.15rem;
}

.questions__detail {
    font-size: 0.75rem;
    padding: 0px 1.25rem 1.25rem 2.5rem;
    line-height: 1.6;
}

.questions__content {
    overflow: hidden;
    height: 0;
}

.questions__item,
.questions__header,
.questions__icon,
.questions__title,
.questions__content,
.questions__detail {
    transition: var(--smooth);
}

.questions__item:hover {
    box-shadow: var(--shadow);
}

/* Change color of title and background */
.accordion-open .questions__header,
.accordion-open .questions__content {
    background-color: var(--green-color);
}

.accordion-open .questions__title,
.accordion-open .questions__detail,
.accordion-open .questions__icon {
    color: #fff;
}

/* Rotate icon when click on the card */

.accordion-open .questions__icon {
    transform: rotate(45deg);
}

/*====== Contact ======*/
.contact__container {
    display: grid;
    row-gap: 3.5rem;
}

.contact__info {
    display: grid;
    row-gap: 2rem;
}

.contact__info-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.contact__desc {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
}

.contact__inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: 2.5rem;
}

.contact__content {
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--text-color-light);
}

.contact__input {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    padding: 1rem 1rem 1rem 0;
    background:none;
    outline: none;
    border: none;
    z-index: 1;
}

.contact__label {
    position: absolute;
    top: 0.75rem;
    width: 100%;
    font-size: 0.875rem;
    color: var(--text-color-light);
    transition: var(--smooth);
}

.contact__area {
    height: 7rem;
}

.contact__area textarea{
    resize: none;
}



/* Input focus move up label */
.contact__input:focus + .contact__label {
    top: -0.75rem;
    left: 0;
    font-size: 0.875rem;
    z-index: 10;
}

/* Input focus sticky top label */
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label {
    top: -0.75rem;
    z-index: 10;
    font-size: 0.875rem;
}

/*====== Footer ======*/
.footer__container {
    display: grid;
    row-gap: 3rem;
}

.footer__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 2.5rem;
    transition: var(--smooth);
}

.footer__logo i {
    color: var(--green-color);
    font-size: 1.15rem;
}

.footer__title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

.footer__subscribe {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--green-color-lighten);
}

.footer__input {
    width: 70%;
    color: var(--text-color);
    font-size: 1rem;
    padding: 0 0.5rem;
    background: none;
    border: none;
    outline: none;
}

.footer__button {
    padding: 1rem;
}

.footer__address-list {
    display: grid;
    row-gap: .75rem;
}

.footer__address-item {
    font-size: .875rem;
}

.footer__socials {
    display: flex;
    column-gap: .75rem;
}

.footer__phone {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}

.footer__socials-link {
    color: var(--text-color);
}

.footer__cards {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.footer__cards img {
    width: 35px;
}

.footer__copyright {
    font-size: .75rem;
    text-align: center;
    margin: 5rem 0 1rem;
}

/* Active link */
.active-link {
    position: relative;
    color: var(--green-color);
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--green-color);
}


/* Scroll-up */
.scrollup {
    position: fixed;
    bottom: -30%;
    right: 1rem;
    background-color: var(--green-color);
    color: #fff;
    display: inline-flex;
    opacity: .8;
    padding: .5rem;
    border-radius: .25rem ;
    transition: var(--smooth);
    z-index: 10;
}

.scrollup:hover{
    background-color: var(--green-color-alt);
    opacity: 1;
}

.show-scroll {
    bottom: 3rem;
}


/* Dark theme */

.change-theme {
    color: var(--title-color);
    font-size: 1.15rem;
    cursor: pointer;
}

/* Variable change in dark theme */
body.dark-theme {
    --green-color-dark: hsl(152, 8%, 20%);
    --title-color: hsl(152, 4%, 95%);
    --text-color: hsl(152, 4%, 75%);
    --body-color: hsl(152, 8%, 12%);
    --white-color: hsl(152, 8%, 16%);
}

/* Color change in some part of the websites, in dark theme */
.dark-theme .steps__bg,
.dark-theme .questions
{
    background-color: var(--green-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe
{   
    background-color: var(--white-color);
}

.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(152, 4%, 4%, .3);;
}







