.about {
  background-color: $primary-color;
  padding: 144px 72px 288px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
    color: $white-color;
    h1 {
      margin-bottom: 24px;
      font-size: 32px;
      font-weight: 800;
    }
    p {
      line-height: 1.5;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1023px) {
  .about {
    padding: 100px 46px 180px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 100px 30px 180px;
  }
}
